<div class="card">
    <p-tabView>
        <p-tabPanel header="Основная информация">
            <div class="user">Логин пользователя: {{textProp}}</div>
        </p-tabPanel>
        <p-tabPanel header="Статистика">
            <ng-template pTemplate="content">
                <app-statistic></app-statistic>
            </ng-template>
            
        </p-tabPanel>
        <p-tabPanel header="Смена пароля">
            <ng-template pTemplate="content">
                <app-change-password></app-change-password>
            </ng-template>
            
        </p-tabPanel>
    </p-tabView>
</div>    
