<div class="mt-4">
    <h4>Создание тура</h4>
    <div class="mt-3 user-info" [formGroup]="tourForm">
        <div class="mt-3">
            <span class="mx-3">Название</span>
            <input type="text" class="mt-3"
            class="mt-3"
            pInputText
            formControlName="name"
            />
        </div>

        <div class="mt-3">
            <span class="mx-3">Описание</span>
            <input type="text" class="mt-3"
            class="mt-3"
            pInputText
            formControlName="description"
            />
        </div>

        <div class="mt-3">
            <span class="mx-3">Туроператор</span>
            <input type="text" class="mt-3"
            class="mt-3"
            pInputText
            formControlName="tourOperator"
            />
        </div>

        <div class="mt-3">
            <span class="mx-3">Стоимость</span>
            <input type="text" class="mt-3"
            pInputText
            formControlName="price"
            />
        </div>

        <div class="mt-3">
            <span class="mx-3">Изображение</span>
            <input type="file" class="mt-3"
            pInputText
            formControlName="img"
            (change)="selectFile($event)"
            />
        </div>

        <div class="mt-4">
            <button class="btn-success btn" type="submit"
             (click)="createTour()"
             [disabled]="!tourForm.valid">Создать тур</button>
        </div>


    </div>
</div>
