<div>
    <div>
        <div>
            <span class="mx-3">Текущий пароль</span>
            <input type="password" pInputText [ngClass]="{'input-error': !currentPsw}" [(ngModel)]="currentPsw" />
        </div>
        <div>
            <span class="mx-3">Новый пароль</span>
            <input type="password" class="mt-3" pInputText [ngClass]="{'input-error': !newPsw}" [(ngModel)]="newPsw" />
        </div>
        <div>
            <span class="mx-3">Повтор нового пароля</span>
            <input type="password" class="mt-3" pInputText [ngClass]="{'input-error': !newPswRepeat}"
                [(ngModel)]="newPswRepeat" />
        </div>
    </div>
    <div class="mt-5 d-flex justify-content-center">
        <button (click)="changePsw($event)" type="button" class="btn btn-success">Сменить пароль</button>
    </div>
</div>
<p-toast position="top-left">
    <figure></figure>
</p-toast>